body{
    background-color: rgba(241, 147, 6);
    font-family: "open sans","Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 22px;
}
td{
    vertical-align: text-top;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}
div{
    color: rgb(23, 23, 22);
    height: 100%;
    height: 100%;
    padding: 20px 10px 20px 40px;
    margin: 10ps;
    border: 1px solid rgb(215, 230, 4);
    background-color: rgb(241, 147, 6);
    border-radius: 15px;
    border: solid 5px rgb(236, 248, 7);
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px;

}